server:
  transport: "http" # or "stdio"
  http_port: 8080

sandbox:
  backend: "docker"
  timeout_sec: 60
  memory_mb: 512
  max_artifact_size_mb: 20
  network_enabled: false
  enable_local_backend: false

languages:
  python:
    image: "python:3.11-slim"
    prefix_code: |
      import signal, sys

      def timeout_handler(signum, frame):
          print('Execution timeout!')
          sys.exit(1)

      signal.signal(signal.SIGALRM, timeout_handler)
      signal.alarm(10)  # Set timeout to 10 seconds

    postfix_code: |
      import sys
      signal.alarm(0)  # Cancel the alarm
      sys.stdout.flush()
      sys.stderr.flush()

  nodejs:
    image: "node:20-alpine"
    prefix_code: |
      # // Set timeout for Node.js execution
      setTimeout(() => {
         console.log('Execution timeout!');
        process.exit(1);
       }, 5000);  // 10 seconds
    postfix_code: |
      process.exit(0)

  go:
    image: "golang:1.23-alpine"
    build_cmd: "go build -o /workdir/app /workdir/main.go"
    run_cmd: "/workdir/app"

  cpp:
    image: "gcc:13"
    build_cmd: "g++ -std=c++17 -O2 -o /workdir/app /workdir/main.cpp"
    run_cmd: "/workdir/app"
